<div class="plugboard-row">
    <div class="plugboard-switch" *ngFor="let value of row1; let idx = index;" [id]="'plug' + value">
        <label [for]="'plug-down' + value" [id]="'plug-top' + value">{{value}}</label><br><br>
        <select [name]="'plug-down' + value" [id]="'plug-down' + value" [(ngModel)]="plugboardMap[value]" [disabled]="toDisable(value)" (change)="onChange(value)">
            <ng-container *ngFor="let letter of letters">
                <option>{{letter}}</option>
            </ng-container>
        </select>
    </div>
</div>
<div class="plugboard-row">
    <div class="plugboard-switch" *ngFor="let value of row2; let idx = index;" [id]="'plug' + value">
        <label [for]="'plug-down' + value" [id]="'plug-top' + value">{{value}}</label><br><br>
        <select [name]="'plug-down' + value" [id]="'plug-down' + value" [(ngModel)]="plugboardMap[value]" [disabled]="toDisable(value)" (change)="onChange(value)">
            <ng-container *ngFor="let letter of letters">
                <option>{{letter}}</option>
            </ng-container>
        </select>
    </div>
</div>
<div class="plugboard-row">
    <div class="plugboard-switch" *ngFor="let value of row3; let idx = index;" [id]="'plug' + value">
        <label [for]="'plug-down' + value" [id]="'plug-top' + value">{{value}}</label><br><br>
        <select [name]="'plug-down' + value" [id]="'plug-down' + value" [(ngModel)]="plugboardMap[value]" [disabled]="toDisable(value)" (change)="onChange(value)">
            <ng-container *ngFor="let letter of letters">
                <option>{{letter}}</option>
            </ng-container>
        </select>
    </div>
</div>
