<div class="enigma">
    <div class="reflector">
        <app-reflector></app-reflector>
    </div>
    <div class="rotors">
        <app-rotors></app-rotors>
    </div>
    <div class="entrywheel">
        <app-entrywheel></app-entrywheel>
    </div>
    <div class="lightboard">
        <app-lightboard [toLightUp]="keyPressed"></app-lightboard>
    </div>
    <div class="keyboard">
        <app-keyboard (keyPressed)="onKeyPress($event)"></app-keyboard>
    </div>
    <div class="plugboard">
        <app-plugboard [plugboardMap]="plugboardMap"></app-plugboard>
    </div>
</div>
<router-outlet></router-outlet>
