<div class="enigma">
    <div class="reflector">
        <app-reflector></app-reflector>
    </div>
    <div class="rotors">
        <app-rotors></app-rotors>
    </div>
    <div class="entrywheel">
        <app-entrywheel></app-entrywheel>
    </div>
    <div class="lightboard">
        <app-lightboard></app-lightboard>
    </div>
    <div class="keyboard">
        <app-keyboard></app-keyboard>
    </div>
    <div class="plugboard">
        <app-plugboard></app-plugboard>
    </div>
</div>
<router-outlet></router-outlet>
