Rotors:<br>
<div class="rotor">
    <select forControlName="rotorSelect1" name="rotorSelect1" id="rotorSelect1" [(ngModel)]="rotorSelect1">
        <ng-container *ngFor="let option of rotorNumbers">
            <option *ngIf="!(isSelectedRotor2(option) || isSelectedRotor3(option))" [ngValue]="option">{{option}}</option>
        </ng-container>
    </select>
    <input type="number" min="1" max="26" id="rotor-input1" placeholder="1">
</div>
<div class="rotor">
    <select forControlName="rotorSelect2" name="rotorSelect2" id="rotorSelect2" [(ngModel)]="rotorSelect2">
        <ng-container *ngFor="let option of rotorNumbers">
            <option *ngIf="!(isSelectedRotor1(option) || isSelectedRotor3(option))" [ngValue]="option">{{option}}</option>
        </ng-container>
    </select>
    <input type="number" min="1" max="26" id="rotor-input2" placeholder="1">
</div>
<div class="rotor">
    <select forControlName="rotorSelect3q" name="rotorSelect3" id="rotorSelect3" [(ngModel)]="rotorSelect3">
        <ng-container *ngFor="let option of rotorNumbers">
            <option *ngIf="!(isSelectedRotor1(option) || isSelectedRotor2(option))" [ngValue]="option">{{option}}</option>
        </ng-container>
    </select>
    <input type="number" min="1" max="26" id="rotor-input3" placeholder="1">
</div>